/*.o
/*.zip
/Bin
/.vscode
/*.a
/Assignment1
/out.bmp
/out.*
/*.jpeg
#/ramp.bmp
#/shrek.bmp
#/stripe.1.bmp
#/stripe.2.bmp
#/stripe.4.bmp
#/sully.bmp
#/yoda.bmp
#/*.txt
#/F_rotated.bmp
#/F_scaled_2d.bmp
#/F_translated_scaled.bmp
#/F.bmp
#/F_translated.bmp